<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>百足</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="media/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css">
        %include coconut.css
    </style>

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="media/images/favicon.png">
    <link rel="apple-touch-icon" href="media/images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="media/images/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="media/images/apple-touch-icon-114x114.png">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
    <script type="text/javascript" src="media/js/underscore-min.js"></script>
    <script type="text/javascript" src="media/js/backbone-min.js"></script>
    <script type="text/javascript">
         %include coconut.js
    </script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
          <a class="brand" href="#">百足</a>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
      </div>
    </div>

    <div id="Body" class="container">

        <div id="Content">
            <ul class="DataList Discussions">
                %import urlparse
                %for centipede in centipedes:
                <li class="Item">
                    <div class="StatBoxes">
                        <span class="StatBox ViewsBox">
                            <div class="Stats-Label">Views</div>
                            <div class="Stats-Number">{{ centipede.views }}
                            </div>
                        </span>
                        <span class="StatBox CommentsBox">
                            <div class="Stats-Label">Posts</div>
                            <div class="Stats-Number">{{ centipede.posts }}
                            </div>
                        </span>
                    </div>
                    <div class="ItemContent Discussion">
                        %url_components= urlparse.urlparse(centipede.key().name())
                        <a class="Title" href="{{ url_components.netloc + url_components.path }}">
                            {{ centipede.title }}
                        </a>
                        <div class="Meta">
                            <span class="label MItem LastCommentBy">Started by {{ centipede.author }}</span>
                            <span class="label success MItem LastCommentDate">
                                <time datetime="2011-12-21T16:41:14+00:00"
                                      title="December 21, 2011  4:41PM">{{ centipede.modified }}
                                </time>
                            </span>
                        </div>
                    </div>
                </li>
                %end
            </ul>
        </div>

      <footer>
        <p>&copy; Company 2011</p>
      </footer>

    </div> <!-- /container -->
    %include analytics.html
  </body>
</html>
