%%for stanza in centipede.stanzas:
<li id="Discussion_18326" class="Item Comment FirstComment">
    <div class="Comment">
        <div class="Meta">
          <span class="Author">{{open}} centipede.author {{close}}</span>
             <span class="MItem DateCreated">
                    <time datetime="2011-12-20T01:46:25+00:00" title="December 20, 2011  1:46AM">
                        {{open}} stanza {{close}}
                    </time>
             </span>
        </div>
        <div class="Message">
            {{open}} stanza {{close}}
        </div>
    </div>
</li>
%%end