%%for stanza in stanzas:
<li id="" class="Item Comment">
    <div class="Comment">
        <div class="Meta">
             <span class="MItem DateCreated">
                    <time datetime="{{open}} stanza.published {{close}}" title="{{open}} stanza.published {{close}}">
                        {{open}} stanza.published {{close}}
                    </time>
             </span>
        </div>
        <div class="Message">
            {{open}}!stanza.content{{close}}
        </div>
    </div>
</li>
%%end
%%if template_next:
    %%include stanza.html open='{{', close='}}'
%%end
